table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

#checkout {
  float: right;
  right: 23%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.action-button {
  outline: none;
  float: right;
}

.mat-cell {
  line-height: 40px;
}

#errorMsg {
  margin-bottom: 30px;
  margin-top: 30px;
  font-style: italic;
}