<div class="messaging">
  <div class="inbox_msg">

    <div class="mesgs">
      <div class="msg_history">

        <ng-container *ngFor="let message of data">

          <div *ngIf="message.isSender; else incoming" class="outgoing_msg">
            <div class="sent_msg">
              <p matTooltip="{{message.date | date: 'MMM d, y, HH:mm:ss'}}">
                 {{message.message}}
              </p>
            </div>
          </div>

          <ng-template #incoming>
              <div class="incoming_msg mb-2">

                <div class="incoming_msg_img">
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="Profile pic" matTooltip="{{message.senderName}}">
                </div>

                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p style="width: fit-content" matTooltip="{{message.date | date: 'MMM d, y, HH:mm:ss'}}">
                      {{message.message}}
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>

        </ng-container>

      </div>

    </div>
  </div>

  <div class="type_msg mt-3">
    <div class="input_msg_write">
      <div mat-dialog-content>
        <input matInput #message type="text" class="write_msg" placeholder="Enter a message..." cdkFocusInitial />
      </div>
      <button mat-button [mat-dialog-close]="message.value" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
          aria-hidden="true"></i></button>
    </div>
  </div>

</div>
