<div class="jumbotron mt-5">

  <mat-tab-group>

    <mat-tab label="Ads">
      <div class="container mt-5">
          <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Personal data
                  </mat-panel-title>
                  <mat-panel-description>
                    Type your name and age
                  </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Self aware panel
                  </mat-panel-title>
                  <mat-panel-description>
                    Currently I am
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
            </mat-accordion>
      </div>

    </mat-tab>

    <mat-tab label="Messages">

      <div class="container mt-3">

        <table class="table table-hover">
          <thead>
            <tr *ngIf="conversations.length !== 0" >
              <th style="border-top: 0" scope="col">Participants</th>
              <th style="border-top: 0" scope="col">Ad</th>
            </tr>
          </thead>

          <tbody *ngIf="conversations.length == 0">
            <tr class="table-secondary">
              <th scope="row">You don't have any messages.</th>
            </tr>
          </tbody>

          <tbody *ngFor="let conv of conversations">
            <tr class="table-secondary" (click)="openDialog(conv.key)">

              <th scope="row">Me,
                <a *ngIf="conv.payload.val()['senderId'] !== authService.user.uid; else receiver"  routerLink="/profile/{{conv.payload.val()['senderId']}}">
                  {{conv.payload.val()['senderName']}}
                </a>
              </th>

              <ng-template #receiver>
                  <a routerLink="/profile/{{conv.payload.val()['receiverId']}}">
                    {{conv.payload.val()['receiverName']}}
                  </a>
              </ng-template>

              <td><a routerLink="/ads/{{conv.payload.val()['adId']}}">{{conv.payload.val()['adTitle']}}</a></td>

              <td class="actions">
                  <button (click)="convService.deleteConversation(conv.key);$event.stopPropagation()" class="btn btn-danger btn-sm" style="float: right"><i class="fa fa-trash-o"></i></button>
              </td>

            </tr>


          </tbody>
        </table>

      </div>
    </mat-tab>

  </mat-tab-group>

</div>
