<div class="jumbotron">
  <h4 class="text-center">{{displayName}}</h4>
  <div class="container">
    <h3>Messages</h3>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <button (click)="show()" class="nav-link" data-toggle="tab">Sent</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-toggle="tab" (click)="show()">Received</button>
      </li>

    </ul>
    <div id="myTabContent" class="tab-content">
      <div [hidden]="sent" class="tab-pane fade active show">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">To</th>
            <th scope="col">Ad</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Message</th>
          </tr>
          </thead>
          <tbody *ngFor="let message of sentMessages">
          <tr class="table-secondary">
            <th scope="row">{{message.receiverName}}</th>
            <td><a routerLink="/ads/{{message.adId}}">{{message.adTitle}}</a></td>
            <td></td>
            <td></td>
            <td>{{message.message}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div [hidden]="received" class="tab-pane fade active show">
        <p>Received</p>
      </div>
    </div>
  </div>
</div>
