<div class="jumbotron mt-5">
  <mat-tab-group>

    <mat-tab label="Ads">
      <div class="container mt-5">
        <h1>Ads</h1>
      </div>

    </mat-tab>
    <mat-tab label="Messages">

      <div class="container mt-5">

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Ad</th>
            </tr>
          </thead>

          <tbody *ngIf="conversations.length == 0">
            <tr class="table-secondary">
              <th scope="row">You don't have any messages.</th>
            </tr>
          </tbody>

          <tbody *ngFor="let conv of conversations">
            <tr class="table-secondary" (click)="openDialog(conv.key)">

              <th scope="row">Me,
                <a *ngIf="conv.payload.val()['senderId'] !== authService.user.uid; else receiver"  routerLink="/profile/{{conv.payload.val()['senderId']}}">
                  {{conv.payload.val()['senderName']}}
                </a>
              </th>

              <!-- Make this shit works! -->

              <ng-template #receiver>
                  <a routerLink="/profile/{{conv.payload.val()['receiverId']}}">
                    {{conv.payload.val()['receiverName']}}
                  </a>
              </ng-template>


              <!-- Make this shit works! -->

              <td><a routerLink="/ads/{{conv.payload.val()['adId']}}">{{conv.payload.val()['adTitle']}}</a></td>

            </tr>
          </tbody>
        </table>

      </div>
    </mat-tab>

  </mat-tab-group>



</div>
