<div class="col ml-5">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #f="ngForm" (ngSubmit)="add(f)">

      <div class="form-group">
        <mat-form-field>
          <input
            matInput="text"
            placeholder="Title"
            required
            type="text"
            id="title"
            name="title"
            ngModel
            class="form-control">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-select
            placeholder="Condition"
            name="condition"
            ngModel
            required>
            <mat-option value="Used">Used</mat-option>
            <mat-option value="New">New</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-select
            placeholder="Category"
            required
            name="category"
            ngModel
            (selectionChange)="loadSubCategories($event)">
            <mat-option *ngFor="let cat of categories" value={{cat.key}}>
              {{cat.payload.val()['name']}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-select
            placeholder="Sub-Category"
            required
            name="subCategory"
            ngModel>
            <mat-option *ngFor="let cat of subCategories" value={{cat.key}}>
              {{cat.payload.val()['name']}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-slide-toggle
          required
          name="featured"
          ngModel
          matTooltip="Your ad will be featured on the main page and on top of searches. Cost 2$ per ad.">
          Featured
        </mat-slide-toggle>
      </div>

      <div class="form-group">
        <mat-form-field id="description">
          <textarea
            required
            matInput
            placeholder="Description"
            name="description"
            ngModel></textarea>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input
            placeholder="Price"
            matInput="number"
            type="number"
            required
            name="price"
            ngModel>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input
            placeholder="Image Url"
            matInput="url"
            required
            name="imageUrl"
            ngModel>
        </mat-form-field>
      </div>

      <button [disabled]="f.invalid" type="submit" mat-raised-button color="primary">Add</button>
    </form>
  </div>
</div>
