<div *ngIf="ad" class="jumbotron">
  <h3 class="text-center mb-4">{{ad.title}}</h3>
  <div class="row">
    <div class="col-8">
      <img alt="Card image" style="width: 100%" src={{ad.imageUrl}}>
    </div>
    <div class="col-4">
      <div class="btn-group-vertical" data-toggle="buttons">
        <div *ngIf="!authService.isAuthenticated()">
          <h5 class="text-danger">Please login to buy or message seller</h5>
        </div>
        <button *ngIf="authService.isAuthenticated() && ad.condition == 'New' && !isCreator"
                (click)="cartService.add(ad.title, ad.id, ad.price)"
                class="card-link btn btn-success">Add To Cart</button>
        <button *ngIf="!isCreator && authService.isAuthenticated()" (click)="modalService.open('custom-modal-1')" type="button" class="btn btn-secondary mb-5">💬 Message Seller</button>
        <a *ngIf="isCreator" class="btn btn-secondary mb-5" routerLink="/ads/edit/{{ad.id}}">✎ Edit</a>
      </div>
    </div>

    <modal id="custom-modal-1">
      <div class="my-modal">
        <div class="my-modal-body">
          <h1>Message Seller</h1>
          <form #f="ngForm" (ngSubmit)="message(f, ad.creator, ad.title)">
            <div class="form-group">
              <label for="formGroupExampleInput">Message</label>
              <textarea
                required
                style="height: 100px"
                name="message"
                type="text"
                ngModel
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Message..">
              </textarea>
              <input [disabled]="f.invalid"  class="btn btn-success mt-3 mr-3" type="submit" value="Send">
            </div>
          </form>
        </div>
      </div>
      <div class="my-modal-background"></div>
    </modal>

  </div>
  <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">Price</th>
      <td *ngIf="!ad.featured">{{ad.price | currency:'USD'}}</td>
      <td *ngIf="ad.featured" class="font-weight-bold"><i>{{ad.price - (ad.price * 0.30) | currency:"USD"}}</i></td>
    </tr>
    <tr>
      <th scope="row">Category</th>
      <td><a routerLink="/category/{{ad.category}}">{{ad.categoryName}}</a></td>
    </tr>
    <tr>
      <th scope="row">Sub-Category</th>
      <td><a routerLink="/sub-category/{{ad.subCategory}}">{{ad.subCategoryName}}</a></td>
    </tr>
    <tr>
      <th scope="row">Added By</th>
      <td *ngIf="isCreator"><a routerLink="/profile/me">You</a></td>
      <td *ngIf="!isCreator"><a routerLink="/profile/{{ad.creator}}">{{ad.creatorUserName}}</a></td>
    </tr>
    <tr>
      <th scope="row">Condition</th>
      <td>{{ad.condition}}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{ad.model}}</td>
    </tr>
    </tbody>
  </table>
</div>
