<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/">
    <img style="width: 50px" src="http://bellacom.hu/sites/default/files/styles/photo_300_300/public/xlo_logo_1.png?itok=zM4brhf_" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="authService.isAuthenticated()" class="nav-item ml-5">
        <a class="nav-link" routerLink="/ads/add">➕ New Ad</a>
      </li>

      <modal id="custom-modal-2">
        <div class="my-modal">
          <div class="my-modal-body">
            <h3>Shopping Cart</h3>
            <p class="mt-3" *ngIf="!cartItems">Your shopping cart is empty.</p>
            <ul *ngFor="let ad of cartItems | keyvalue" class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a routerLink="/ads/{{ad.key}}">{{ad.value}}</a>
                <span class="badge mr-1">Price</span>
                <span style="cursor: pointer" (click)="remove(ad.key)" class="badge badge-primary">❌ Remove</span>
              </li>
            </ul>
            <button class="btn btn-danger mt-3" (click)="closeModal('custom-modal-2');">Close</button>
          </div>
        </div>
        <div class="my-modal-background"></div>
      </modal>

      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a (click)="openModal('custom-modal-2')" class="nav-link ml-2 btn btn-secondary">🛒 Cart</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a *ngIf="authService.loggedInUser !== null" class="nav-link" routerLink="/profile/me">{{authService.loggedInUser}}	💬</a>
      <a *ngIf="!authService.isAuthenticated()" class="nav-link" routerLink="/login">Login</a>
      <a *ngIf="!authService.isAuthenticated()" class="nav-link mr-5" routerLink="/register">Register</a>
      <a *ngIf="isAdmin && authService.isAuthenticated()" routerLink="/admin" class="nav-link mr-5" style="cursor: pointer">Admin Panel 🔑</a>
      <a *ngIf="authService.isAuthenticated()" class="nav-link mr-5" (click)="logout()" style="cursor: pointer">Logout ❌</a>
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
