.mat-badge-small.mat-badge-above .mat-badge-content {
  top: auto;
  width: 17px;
  height: 17px;
  line-height: 17px;
  font-size: 7px;
}

.mat-icon {
  vertical-align: middle;
}

.nav-item {
  cursor: pointer;
}

.navbar {
  padding: 0.8rem 1rem
}

.nav {
  height: 76px;
}

.logo {
  width: 100px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}





